@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  @apply bg-neutral-950;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  /* Customize the scrollbar width */
  width: 5px;
}

::-webkit-scrollbar-track {
  /* Customize the scrollbar track */
  @apply bg-neutral-950;
}

::-webkit-scrollbar-thumb {
  /* Customize the scrollbar thumb */
  @apply bg-cyan-600;
}